<div style="display: flex;justify-content: center;width: 100%;">
    <div style="display: flex;justify-content: space-between;width: 70%;">
    <button  mat-raised-button color="primary"  class="top-button" (click)="physicianDialog()">Physician Order Form</button>
    <button  mat-raised-button color="primary"  class="top-button" (click)="eliteDialog()">Elite Form</button>
    <button  mat-raised-button color="primary"  class="top-button" (click)="shelterDialog()">Child Shelter Form</button>
    <!-- <button color="primary" rm" class="top-button">Medicare Form</button> -->
    <button  mat-raised-button color="primary" class="top-button" (click)="cliaDialog()">Clia Form</button>
    <button mat-raised-button color="primary"  class="top-button" (click)="inhouseDialog()">InHouse Test Form</button>
</div>
</div>